/hyperspectral_datasets
# /hyper_data_preprocess


/__pycache__
/.ipynb_checkpoints

/01_CNN1D_0/model


/02_CNN2D_1/model
/02_CNN2D_1/predata
/02_CNN2D_1/result


/03_CNN3D_0/__pycache__
/03_CNN3D_0/np_data
/03_CNN3D_0/result
/03_CNN3D_0/weights

/05_LSTM_0/model
/05_LSTM_0/np_data
/05_LSTM_0/result
/05_LSTM_0/weights


/06_GRU_0/model
/06_GRU_0/np_data
/06_GRU_0/result
/06_GRU_0/weights


/07_AE_0/ae_images
/
/
/KNN/.ipynb_checkpoints
/KNN/result

/RF/.ipynb_checkpoints
/RF/result

/SVM/.ipynb_checkpoints
/SVM/result

/DT/.ipynb_checkpoints
/DT/result

/
/



hyper_data_preprocess/Indian_pines_w_size_19_num_0.2_for_3D/data_label.npy
hyper_data_preprocess/Indian_pines_w_size_19_num_0.2_for_3D/data.npy
hyper_data_preprocess/Indian_pines_w_size_19_num_0.2_for_3D/test_label.npy
hyper_data_preprocess/Indian_pines_w_size_19_num_0.2_for_3D/test.npy
hyper_data_preprocess/Indian_pines_w_size_19_num_0.2_for_3D/train_label.npy
hyper_data_preprocess/Indian_pines_w_size_19_num_0.2_for_3D/train.npy
hyper_data_preprocess/Indian_pines_w_size_5_num_0.2_for_2D/data_label.npy
hyper_data_preprocess/Indian_pines_w_size_5_num_0.2_for_2D/data.npy
hyper_data_preprocess/Indian_pines_w_size_5_num_0.2_for_2D/test_label.npy
hyper_data_preprocess/Indian_pines_w_size_5_num_0.2_for_2D/test.npy
hyper_data_preprocess/Indian_pines_w_size_5_num_0.2_for_2D/train_label.npy
hyper_data_preprocess/Indian_pines_w_size_5_num_0.2_for_2D/train.npy
hyper_data_preprocess/paviaU_num_200_for_squence/data_label.npy
hyper_data_preprocess/paviaU_num_200_for_squence/data.npy
hyper_data_preprocess/paviaU_num_200_for_squence/test_label.npy
hyper_data_preprocess/paviaU_num_200_for_squence/test.npy
hyper_data_preprocess/paviaU_num_200_for_squence/train_label.npy
hyper_data_preprocess/paviaU_num_200_for_squence/train.npy
hyper_data_preprocess/paviaU_w_size_9_num_200_for_2D/data_label.npy
hyper_data_preprocess/paviaU_w_size_9_num_200_for_2D/data.npy
hyper_data_preprocess/paviaU_w_size_9_num_200_for_2D/test_label.npy
hyper_data_preprocess/paviaU_w_size_9_num_200_for_2D/test.npy
hyper_data_preprocess/paviaU_w_size_9_num_200_for_2D/train_label.npy
hyper_data_preprocess/paviaU_w_size_9_num_200_for_2D/train.npy
hyper_data_preprocess/Salinas_w_size_1_num_200_for_2D/data_label.npy
hyper_data_preprocess/Salinas_w_size_1_num_200_for_2D/data.npy
hyper_data_preprocess/Salinas_w_size_1_num_200_for_2D/test_label.npy
hyper_data_preprocess/Salinas_w_size_1_num_200_for_2D/test.npy
hyper_data_preprocess/Salinas_w_size_1_num_200_for_2D/train_label.npy
hyper_data_preprocess/Salinas_w_size_1_num_200_for_2D/train.npy
hyper_data_preprocess/Salinas_w_size_9_num_200_for_2D/data_label.npy
hyper_data_preprocess/Salinas_w_size_9_num_200_for_2D/data.npy
hyper_data_preprocess/Salinas_w_size_9_num_200_for_2D/test_label.npy
hyper_data_preprocess/Salinas_w_size_9_num_200_for_2D/test.npy
hyper_data_preprocess/Salinas_w_size_9_num_200_for_2D/train_label.npy
hyper_data_preprocess/Salinas_w_size_9_num_200_for_2D/train.npy
