/hyperspectral_datasets
/__pycache__
/.ipynb_checkpoints

/02_CNN2D_1/model
/02_CNN2D_1/predata
/02_CNN2D_1/result


/03_CNN3D_0/__pycache__
/03_CNN3D_0/np_data
/03_CNN3D_0/result
/03_CNN3D_0/weights

/05_LSTM_0/model
/05_LSTM_0/np_data
/05_LSTM_0/result
/05_LSTM_0/weights


/06_GRU_0/model
/06_GRU_0/np_data
/06_GRU_0/result
/06_GRU_0/weights


/07_AE_0/ae_images
/
/

/KNN/result
/RF/result
/SVM/result
/DT/result

/
/



